google_cloud_aiplatform==1.43.0
llama_index==0.10.22
loguru==0.7.2
numpy==1.26.4
pgvector==0.2.5
psycopg2_binary==2.9.9
pydantic==2.6.4
pypdf==4.1.0
PyPDF2==3.0.1
streamlit==1.32.2
tiktoken==0.6.0
vertexai==1.43.0

